<div id="<%= dom_id student %>">

<div>
  <% if student.profile_picture.attached? %>
  <div class="container">
    <div class="col-md-4 px-0">
      <%= image_tag student.profile_picture, class: "img-thumbnail" %>
    </div>
  </div>
  <% else %>
  <div class="container">
    <div class="col-md-4 px-0">
      <%= image_tag "default_profile_picture.png", class: "img-thumbnail" %>
    </div>
  </div>
  <% end %>
</div>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>School email:</strong>
    <%= student.school_email %>
  </p>

  <p>
    <strong>Major:</strong>
    <%= student.major %>
  </p>

  <p>
    <strong>Minor:</strong>
    <%= student.minor %>
  </p>

  <p>
    <strong>Graduation date:</strong>
    <%= student.graduation_date %>
  </p>

</div>
